# Log level can be CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
LOG_LEVEL=INFO
SURVEY_API_HOST=localhost
SURVEY_API_PORT=8000
SURVEY_DB=sqlite:///data/survey.sqlite3

# Whether or not to use FingerprintJS for user identification
# If False, it will use the UUID saved in cookies
USE_FINGERPRINT=False
# Whether or not to use sentiment analysis on the received comments
USE_SENTIMENT_ANALYSIS=False

# Allow origins from survey-front and BugPrediction/OptiTTM if used (coma-separated)
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=False
CORS_ALLOW_METHODS=GET,POST,OPTIONS
CORS_ALLOW_HEADERS=*

# Secret key to sign JWT
# To generate yours, run `openssl rand -hex 32` in cmd
# Leave empty to disable OAuth security
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
# URL of your authorization endpoint
AUTH_URL=http://localhost:8080/authorize
# URL exposing the public JWK
JWK_URL=http://localhost:8080/jwk
# Coma-separated list of client secrets to use with oauth /token
# Client id is the position (index+1) in this list
# This flow will only give access to the Data scope
CLIENT_SECRETS=

DEBUG_MODE=False
